{% extends "SpicySiteBundle::layout_admin.html.twig" %}

{% block body %}
{{ parent() }}
    <h3>Modifier un type de video</h3>
    {{ form_start(form, {'method': 'POST'}) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    {{ form_end(form) }}
{% endblock%}
