<div id="alphabet">
{% for lettre in range('A','Z')%}
    <p>-<b style="cursor:pointer " href="{{lettre}}">{{lettre}}</b></p>
{% endfor %}
</div>
<script type="text/javascript">
    initAlphabet();
</script>