{% extends "SpicySiteBundle::layout.html.twig" %}

{% block body %}
    {{ parent() }}
    <p>- 7/05/13 : Ajout des vidéos par artistes</p>
    <p>- 15/05/13 : Ajout des vidéos par genres musicaux</p>
{%endblock%}
