<h3 class="arrondi_haut">News</h3>
<div>
{% for new in news|slice(0, 10) %}
    <p>{{new.date|date("Y-m-d H:i:s")}} - <a href="{{new.url}}">{{new.titre}}</a></p>
    <p></p>

{%else%}
    pas de resultat
{%endfor%}
</div>
