{% extends "SpicySiteBundle::layout_admin.html.twig" %}

{% block body %}
{{ parent() }}
    <h3>Supprimer une video</h3>
    <p>Etes vous sur de vouloir supprimer?</p>
    <form method="post" {{ form_enctype(form) }}>
        <a href="{{ path('spicy_admin_home_video') }}" class="btn">
            <i class="icon-chevron-left"></i>
            Retour à la video
        </a>
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {{ form_rest(form) }}
    </form>
{% endblock%}
