{% extends "SpicySiteBundle::layout.html.twig" %}

{% block body %}
    {{ parent() }}
    <div id="contact">
        <h2>Contact</h2>
        <p>Pour tous renseignements, promotions et montage vidéo veuillez nous contacter:</p><br/>
        <p>Developpeur : <a href="mailto:{{email_contact}}">Franchesco971</a></p>
        <p>Graphisme : peach vivi</p>
    </div>
    <div>
        <p>facebook: <a href="http://www.facebook.com/mimizikcom">mimizikcom</a></p>
        <p>youtube: <a href="https://www.youtube.com/user/mimizikcom">mimizikcom</a></p>
    </div>
{%endblock%}
