{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} : Retrouvez nous sur facebook(mimizikcom), youtube(mimizikcom) et twitter
{% endblock %}

{% block meta_description %}
    <meta name="Description" content="Retrouvez nous sur facebook(mimizikcom), youtube(mimizikcom) et twitter."/> 
{% endblock %}

{% block body %}
    {{ parent() }}
    <div id="contact" class="fond_transparent_blanc">
        <h2>Contact</h2>
        <p>Pour tous renseignements, promotions et montage vidéo veuillez nous contacter:</p><br/>
        <p>Developpeur : <a href="mailto:{{email_contact}}">Franchesco971 ({{email_contact}})</a></p>
        <p>Graphisme : peach vivi</p>
        <br/>
        <h3>Liens</h3>
        <p>facebook: <a href="http://www.facebook.com/mimizikcom">mimizikcom</a></p>
        <p>youtube: <a href="https://www.youtube.com/user/mimizikcom">mimizikcom</a></p>
        <p>S'abonner aux flux des vidéos: <a href="http://www.mimizik.com/flux/videos">flux</a></p>
    </div>
    <div>
        
    </div>
{%endblock%}
