{% extends "SpicySiteBundle::layout.html.twig" %}

{% block body %}
    {{ parent() }}
    <h2>Contact</h2>
    <p>Pour tous renseignement veuillez nous contacter:</p><br/>
    <p>Developpeur : <a href="mailto:franchesco971@gmail.com">Franchesco971</a></p>
    <p>Graphisme : peach vivi</p>
{%endblock%}
