{% extends "SpicySiteBundle::layout.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/pagination.css')}}" type="text/css" />
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>Tes vid&eacute;os pr&eacute;f&eacute;r&eacute;es</h1>
    
    <div id="videos">
        <div id="epices">
        </div>
        {% for video in videos %}
           
                {% include "SpicySiteBundle:Site:video_big.html.twig" %}
           
        {% endfor %}   
    	{{ render(controller("SpicySiteBundle:Site:indexSuite", {'page': page})) }}
    </div>
{% endblock %}