
<h3 class="arrondi_haut">Rétro de la semaine</h3>
<p>Chaque semaines retrouvez la vidéo rétro de la semaine. 
    Par rétro on entend un titre qui n'est pas récent. Cette video peur être de tous genres.</p>
{% if video is defined %}
    {% include "SpicySiteBundle:Site:video_mini.html.twig" %}
    <div class="description">{{video.description}}</div>
{%else%}
    pas de resultat
{%endif%}
