<div id="common_modal" class="reveal-modal">
    <div class="content">
        <table border="1" class="data">
            <tr>
            </tr>
        </table>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>