/* CSS Document */
#form_artistes, #form_typeVideos, #form_genreMusicaux{ float: left; width:300px; margin-right:20px;}
#tabvid{ clear:left;}
.data td{ border: 1px #000 solid; width: 100px;}

#body{
    background-color: #FFFFFF;
}
