/* CSS Document */

#body{	min-height:1000px;font-family:Arial,sans-serif;	/*overflow:hidden;*/}
#header{background-color:#777;	height:150px;}
#menu{height: 50px;}

#lastVideos
{
    
}
.ribbon-slider {margin-top: 20px !important;}
#lastVideos ul{margin-bottom: -54px; margin-top: -48px;}
#container{
    
}

#main_container
{
    width: 1000px;
    overflow: hidden;
    min-height: 600px;
    margin-top: 20px;
}

.page{width:1000px;margin: auto;}

.post .image{overflow: hidden;width: 240px;height: 157px; margin-top: -23px;}
.post .infos_video{    padding-left: 10px;width: 300px;}

.post .infos_video .artistes,.post .infos_video .titre,.post .infos_video .description,.post .infos_video .bouton{    margin-bottom: 8px;}

.floatleft{float:left}
.floatright{float:right;}
.button span{
    line-height: 2em;
}

/* css tiré du site */
.ribbon-slider-container, .main-fade-slider {
}
h1, h2, h3, h4, h5, h6, th, .supheader .logo, .subheader .menu a, .page-title .container > span, .content-block .block-title, .ribbon-caption-title, .featured-event .event-date, .events-list .event-date, .events-list .event-option > span, .gallery-thumbnail .caption, .video-thumbnail .caption, input[type="submit"], input[type="button"], .button {
    font-family: Oswald,Arial,Helvetica,sans-serif;
}
a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .release-thumbnail .tip-content a:hover, .featured-event .event-date-number, .releases-filter li.current a {
    color: #EE3450;
}
.ribbon-caption-title .ribbon-caption-background, .jp-progress .jp-play-bar, .button {
    background-color: #EE3450;
}
*::-moz-selection {
    background-color: #EE3450;
}


.ribbon-caption {
    bottom: 60px;
}
.pagination .prev {
    width: 32px;
}
.fb-like
{
    width: 66px;
}
.fade-slider ul li .ribbon-caption
{
    bottom:15px;
}
/*.fade-slider .arrow-left {
    left: -30px;
}
.fade-slider .arrow-right {
    right: -30px;
}
.fade-slider .arrow {
    background: url("/images/fade_slider_arrows.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 40px;
}*/
.block-content-perso {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 5px 5px;
}
.un-tier{
    width: 190px;
}
.un-demi{
    width:420px;
}
.column-perso {
    float: left;
    margin-right: 10px;
}

.artiste_post
{
    position: relative;width: 100%; height: 130px;margin-bottom: 10px;overflow:hidden;
}
.artiste_post_libelle{position:absolute;left:0;bottom:10px;}
.artiste_post_libelle a:hover{padding-left: 21px;}
.image_retro{position: relative;width: 240px;}
.image_retro .ribbon-caption{bottom: 10px;}
.image_retro .ribbon-caption-title{font-size: 12px;}
/*.background_noir {
    background: url("/images/player_bottom_bg.png") repeat-x scroll 0 bottom #333333;
    padding: 11px 0 19px;
    height:100px;
}

.gsc-control-cse
{
    background: url("/images/player_bottom_bg.png") repeat-x scroll 0 bottom #333333;
}*/
#banstex468x60
{
    margin: auto;
    width: 468px;
    padding-bottom: 20px;
}
.social-links-description {
    float: left;
    overflow: hidden;
    padding: 3px 0 1px;
}
.social-links-description a {
    background: url("/images/sprites-social.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: right;
    height: 48px;
    margin-left: 10px;
    width: 48px;
}
.social-links-description a.facebook { background-position: -48px -48px; }
.social-links-description a.twitter { background-position: 0 -48px; }
.social-links-description a.instagram { background-position: -240px -48px; }
.social-links-description a.facebook:hover { background-position: -48px -0; }
.social-links-description a.twitter:hover { background-position: 0 0; }
.social-links-description a.instagram:hover { background-position: -240px 0; }
.block-title h1,.block-title h2{line-height:1em;word-spacing:0px;font-size:1.3em;margin-bottom: 0px;}
.block-title h1 a,.block-title h2 a{color: #EE3450;}
.content-block .block-title > h1,.content-block .block-title > h2 {
    float: left;
    padding: 1em 16px 0.7em;
    white-space: nowrap;
}

/***** général *****/
.column .content-block #encart_droit{padding:1.5em 0px;}
.loading{background: url("/images/loading.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        width:16px;height:16px;display: hidden;}


/***** home *****/
#espace_pub_home{width: 1000px; max-height: 80px;}

/***** contact *****/

.contact .modal_apercu{width: 1000px; left:25%; overflow: hidden;margin: auto;}
.contact .block-content li{list-style-type:square}

/****** form ******/
form .label{float: left;clear: left; width: 150px;min-height: 40px; font-weight: bold; font-size:14px;}
form .input{float: left;min-height: 40px;}
form .button{clear:left;float: left}

#login .blockright{clear: right;float:right;margin-top:20px;}
#login .blockright.message{font-size:1.3em;color:white;}

