<script type="text/javascript">
$(document).ready(function(){  
    $(".select2").select2({
        width: '200px'
    }); 
     
    $("#search_artistes").change(function(){
        var libelle=$("select option:selected").html();
        var id=$("select option:selected").attr('value');

        $('#common_modal .content .data tr').html('');
        $('#common_modal .content .data tr').append($('<td>'+libelle+'</td>'));
        $('#common_modal .content .data tr').append($('<td class="btn-show"><a class="button dark" href="{{ path('mimizik_show_artiste_js')}}'+id+'"><span>Voir</span></a></td>'));

        $('#common_modal').reveal();
    });
});
 </script>