.twitter-like{
    display: inline-block;
}
#video-content #description span
{
    margin-right: 10px;
}
.song-text {
    color: #505050;
    font-family: pt_sansregular,arial,helvetica,sans-serif;
    font-size: 15px;
    line-height: 30px;
}
.red_type
{
    color: #ee3450;
}