{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Hashtag creation</h1>

    {{ form_start(form, {'method': 'POST', 'action': path('hashtag_create')}) }}
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('hashtag') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
