{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Hashtag creation</h1>

    {{ form_start(form, {'method': 'POST', 'action': path('admin_hashtag_create_modal_update',{'id': idArtiste})}) }}
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    {{ form_end(form) }}

        <!--<ul class="record_actions">
    <li>
        <a href="{{ path('admin_hashtag') }}">
            Back to the list
        </a>
    </li>
</ul>-->
{% endblock %}

