php_flag magic_quotes_gpc Off

<IfModule mod_rewrite.c>
    DirectoryIndex index.php
    Options -Indexes
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
    #    RewriteBase /
    #</IfModule>
    
    RewriteCond %{HTTP_HOST} ^mimizik.com$
    RewriteRule ^(.*) http://www.mimizik.com/$1 [QSA,L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>