php_flag magic_quotes_gpc Off

<IfModule mod_rewrite.c>
    DirectoryIndex index.php
    Options -Indexes
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
    #    RewriteBase /
    #</IfModule>
    
    RewriteCond %{HTTP_HOST} ^mimizik.com$
    RewriteRule ^(.*) http://www.mimizik.com/$1 [QSA,L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]

    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Headers "Origin, Authorization, X-requested-with, Content-type, Accept"
#    Header set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
#    Header set Allow "PUT, GET, POST, DELETE, OPTIONS"
#    Header set Access-Control-Allow-Credentials true
</IfModule>